/* Root */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* Background */
body {
  height: 100vh;
  width: 100vw;
  background-image: url("./background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: "Roboto", sans-serif;
}

/* Form */
.form-container {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  width: 500px;
  background-color: rgba(234, 214, 169, 0.5);
  padding: 40px 40px 0 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1 {
  font-size: 20px;
}

hr {
  border: 0;
  width: 96%;
  background-color: black;
  height: 1px;
  margin: 10px 0;
}
label {
  text-align: center;
  font-weight: bold;
}

label::after {
  content: " *";
  color: black;
  font-size: 15px;
}

input {
  border: 1px solid black;
  background-color: #e3c593;
  height: 30px;
  border-radius: 5px;
  width: 90%;
  font-size: 15px;
  outline: none;
  text-align: center;
}

input:focus {
  border: 1px solid #cf880c;
}

.signup-btn {
  height: 50px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #e6a638;
  font-size: 25px;
  font-weight: lighter;
  color: rgb(49, 41, 41);
  margin: 30px 0;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #e69d21;
}

.signup-btn:focus {
  border: 2px solid black;
}

/* Media Queries */
@media screen and (max-width: 1150px) {
  .form-container {
    width: 100vw;
  }
  .signup-btn {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .form-wrapper {
    height: 600px;
    width: 400px;
  }

  h1 {
    text-align: center;
    font-size: 17px;
  }

  label {
    font-size: 15px;
  }

  .signup-btn {
    width: 60%;
    font-size: 20px;
  }
}
